<form asp-action="Ekle" asp-controller="Student" method="post">
    <input type = "text" name="ogr_ad"/>
    <input type="text" name="ogr_soyad" />
    <button type = "submit">Kayıt Ekle</button>
</form>
